<div class="center">
    <section id="content">

        <article class="article-item article-detail">
            <div class="image-wrap">
                <img src="{{url + 'get-image/' + article.file0}}" alt="{{article.titulo}}"
                    *ngIf="article.file0">
                <img src="../../../assets/images/no-imagen.jpg" alt="{{article.titulo}}" *ngIf="!article.file0">
            </div>

            <h2>{{article.titulo}}</h2>
            <span class="date">
                {{article.fecha | amLocale: 'es' | amTimeAgo}}
            </span>

            <p>{{article.contenido}}</p>

            <div class="buttons">
                <a [routerLink]="['/edit-article', article.id]" class="btn btn-edit">Editar</a>
                <a (click)="delete(article.id)" class="btn btn-delete">Borrar</a>
            </div>

        </article>

    </section>

    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>

</div>